{% load staticfiles %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>SubmitgitAngular</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link href="{% static '/dist/styles.d41d8cd98f00b204e980.bundle.css' %}" rel="stylesheet"/></head>
<body>
  <app-root>Loading...</app-root>
<script type="text/javascript" src="{% static '/dist/inline.37106b574dda4be0bacc.bundle.js' %}"></script><script type="text/javascript" src="{% static '/dist/polyfills.5aae015f16e5b66f61e9.bundle.js' %}"></script><script type="text/javascript" src="{% static '/dist/vendor.fe84451683791ce36976.bundle.js' %}"></script><script type="text/javascript" src="{% static '/dist/main.6bb96f81548f169b2293.bundle.js' %}"></script></body>
</html>
